<h1>Teste Handlebars / {{teste.message}}</h1>

<form method="POST" action="/sendName">
    <label for="name">Nome: </label>
    <input type="text" name="name" placeholder="digite seu nome">
    <label for="name">Email: </label>
    <input type="text" name="email" placeholder="digite seu email">
    <input type="submit" title="Enviar">
</form>